@font-face {
  font-family: 'Palace-of-Sports';
  src: url(https://github.com:jujustrong/ASP.NET/blob/main/wwwroot/fonts/Palace-of-Sports.otf);
}


* {
  font-family: Palace-of-Sports, sans-serif;
  font-weight: bolder;
}

html {
  font-size: 14px;
}

header {
  margin-bottom: 200px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #4780e3;
}

.main-logo {
  text-align: center;
  margin: -50px;
  margin-top: -200px;
}

main {
  color: white;
  font-family: "Palace-of-Sports", sans-serif;
  text-shadow: 1px 1px 2px black;
}

main a {
  color: white;
  text-decoration: none;
}

main a:hover {
  color: yellow;
  text-transform: uppercase;
}

.table {
  color: white;
}

footer div {
  color: white;
  text-shadow: 1px 1px 2px black;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: yellow;
}

.pptitle {
  text-align: center;
  margin-top: 20px;
}

.privacy-paragraph {
  text-align: center;
  margin-top: 50px;
}